<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1>Promotions Blade</h1>

<div class="promotions-blade one-up dark-blue-theme">
  <div class="container">
    <div class="card">
      <div class="column">
        <figure>
          <div class="background-image" style="background-image: url(assets/imgs/lifestyle/drones.jpg)">
        </figure>
        </div>
        <div class="column vertical-center">
          <div class="text">
            <h3>Nunc purus dui, rhoncus sed scelerisque et, porttitor in justo, Etiam erat ex</h3>
            <p>In elementum eu nibh quis pretium. In hac habitasse platea dictumst. Phasellus et fringilla dui. Mauris nibh mi, lobortis eu pulvinar volutpat, fringilla ac dui. Nulla nulla velit, condimentum sit amet mi non, feugiat consectetur diam.</p>
            <!-- replace button with standard intel button -->
            <button class="intel blue">Find out more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="promotions-blade one-up medium-blue-theme">
  <div class="container">
    <div class="card">
      <div class="column">
        <figure>
          <div class="background-image" style="background-image: url(assets/imgs/lifestyle/drones.jpg)">
        </figure>
        </div>
        <div class="column vertical-center">
          <div class="text">
            <h3>Nunc purus dui, rhoncus sed scelerisque et, porttitor in justo, Etiam erat ex</h3>
            <p>In elementum eu nibh quis pretium. In hac habitasse platea dictumst. Phasellus et fringilla dui. Mauris nibh mi, lobortis eu pulvinar volutpat, fringilla ac dui. Nulla nulla velit, condimentum sit amet mi non, feugiat consectetur diam.</p>
            <!-- replace button with standard intel button -->
            <button class="intel blue">Find out more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="promotions-blade one-up intel-blue-theme">
  <div class="container">
    <div class="card">
      <div class="column">
        <figure>
          <div class="background-image" style="background-image: url(assets/imgs/lifestyle/drones.jpg)">
        </figure>
        </div>
        <div class="column vertical-center">
          <div class="text">
            <h3>Nunc purus dui, rhoncus sed scelerisque et, porttitor in justo, Etiam erat ex</h3>
            <p>In elementum eu nibh quis pretium. In hac habitasse platea dictumst. Phasellus et fringilla dui. Mauris nibh mi, lobortis eu pulvinar volutpat, fringilla ac dui. Nulla nulla velit, condimentum sit amet mi non, feugiat consectetur diam.</p>
            <!-- replace button with standard intel button -->
            <button class="intel blue">Find out more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="promotions-blade one-up charcoal-theme">
  <div class="container">
    <div class="card">
      <div class="column">
        <figure>
          <div class="background-image" style="background-image: url(assets/imgs/lifestyle/drones.jpg)">
        </figure>
        </div>
        <div class="column vertical-center">
          <div class="text">
            <h3>Nunc purus dui, rhoncus sed scelerisque et, porttitor in justo, Etiam erat ex</h3>
            <p>In elementum eu nibh quis pretium. In hac habitasse platea dictumst. Phasellus et fringilla dui. Mauris nibh mi, lobortis eu pulvinar volutpat, fringilla ac dui. Nulla nulla velit, condimentum sit amet mi non, feugiat consectetur diam.</p>
            <!-- replace button with standard intel button -->
            <button class="intel blue">Find out more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="promotions-blade one-up intel-blue-text-theme">
  <div class="container">
    <div class="card">
      <div class="column">
        <figure>
          <div class="background-image" style="background-image: url(assets/imgs/lifestyle/drones.jpg)">
        </figure>
        </div>
        <div class="column vertical-center">
          <div class="text">
            <h3>Nunc purus dui, rhoncus sed scelerisque et, porttitor in justo, Etiam erat ex</h3>
            <p>In elementum eu nibh quis pretium. In hac habitasse platea dictumst. Phasellus et fringilla dui. Mauris nibh mi, lobortis eu pulvinar volutpat, fringilla ac dui. Nulla nulla velit, condimentum sit amet mi non, feugiat consectetur diam.</p>
            <!-- replace button with standard intel button -->
            <button class="intel blue">Find out more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="promotions-blade one-up medium-blue-text-theme">
  <div class="container">
    <div class="card">
      <div class="column">
        <figure>
          <div class="background-image" style="background-image: url(assets/imgs/lifestyle/drones.jpg)">
        </figure>
        </div>
        <div class="column vertical-center">
          <div class="text">
            <h3>Nunc purus dui, rhoncus sed scelerisque et, porttitor in justo, Etiam erat ex</h3>
            <p>In elementum eu nibh quis pretium. In hac habitasse platea dictumst. Phasellus et fringilla dui. Mauris nibh mi, lobortis eu pulvinar volutpat, fringilla ac dui. Nulla nulla velit, condimentum sit amet mi non, feugiat consectetur diam.</p>
            <!-- replace button with standard intel button -->
            <button class="intel blue">Find out more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="promotions-blade one-up dark-blue-text-theme">
  <div class="container">
    <div class="card">
      <div class="column">
        <figure>
          <div class="background-image" style="background-image: url(assets/imgs/lifestyle/drones.jpg)">
        </figure>
        </div>
        <div class="column vertical-center">
          <div class="text">
            <h3>Nunc purus dui, rhoncus sed scelerisque et, porttitor in justo, Etiam erat ex</h3>
            <p>In elementum eu nibh quis pretium. In hac habitasse platea dictumst. Phasellus et fringilla dui. Mauris nibh mi, lobortis eu pulvinar volutpat, fringilla ac dui. Nulla nulla velit, condimentum sit amet mi non, feugiat consectetur diam.</p>
            <!-- replace button with standard intel button -->
            <button class="intel blue">Find out more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="promotions-blade one-up charcoal-text-theme">
  <div class="container">
    <div class="card">
      <div class="column">
        <figure>
          <div class="background-image" style="background-image: url(assets/imgs/lifestyle/drones.jpg)">
        </figure>
        </div>
        <div class="column vertical-center">
          <div class="text">
            <h3>Nunc purus dui, rhoncus sed scelerisque et, porttitor in justo, Etiam erat ex</h3>
            <p>In elementum eu nibh quis pretium. In hac habitasse platea dictumst. Phasellus et fringilla dui. Mauris nibh mi, lobortis eu pulvinar volutpat, fringilla ac dui. Nulla nulla velit, condimentum sit amet mi non, feugiat consectetur diam.</p>
            <!-- replace button with standard intel button -->
            <button class="intel blue">Find out more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
