<div id="idf-2016-blade" class="blade idf-2016">
    <div class="container">
        <div class="text" id="blade-text">
            <h2>IDF 2016:<br>Brian Krzanich</h2>
            <p>Inventing the Future:<br>The Power of a Smart and Connected World</p>
            <a href="javascript:void(0)" class="btn btn-outline gray">Watch the keynote</a>
        </div>
        <figure class="bk-photo" id="bk-photo"></figure>
    </div>
</div>
