<div class="blade idf-2016">
    <div class="container">
        <div class="text" id="blade-text">
            <h2>IDF 2016:<br>Brian Krzanich</h2>
            <p>It is a long established fact that a reader will be<br> distracted by the readable content.</p>
            <a href="#" class="btn btn-outline gray">Lorem ipsum dolor</a>
        </div>
        <figure class="bk-photo" id="bk-photo"></figure>
    </div>
</div>
