<div class="blade homepage-taskbar">
    <a class="products" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.4 19.2"><path d="M0 5.9h5.9V0H0v5.9zM1 1h3.9v3.9H1V1zM6.7 5.9h5.9V0H6.7v5.9zm1-4.9h3.9v3.9H7.7V1zM13.5 0v5.9h5.9V0h-5.9zm4.9 4.9h-3.9V1h3.9v3.9zM0 12.6h5.9V6.7H0v5.9zm1-4.9h3.9v3.9H1V7.7zM6.7 12.6h5.9V6.7H6.7v5.9zm1-4.9h3.9v3.9H7.7V7.7zM13.5 12.6h5.9V6.7h-5.9v5.9zm1-4.9h3.9v3.9h-3.9V7.7zM0 19.2h5.9v-5.9H0v5.9zm1-4.9h3.9v3.9H1v-3.9zM6.7 19.2h5.9v-5.9H6.7v5.9zm1-4.9h3.9v3.9H7.7v-3.9zM13.5 19.2h5.9v-5.9h-5.9v5.9zm1-4.9h3.9v3.9h-3.9v-3.9z"/></svg>
        <p>Products</p>
    </a>
    <a class="learn" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.6 20.6"><path d="M10.3 0C4.6 0 0 4.6 0 10.3 0 16 4.6 20.6 10.3 20.6c5.7 0 10.3-4.6 10.3-10.3C20.6 4.6 16 0 10.3 0zm0 19.6c-5.1 0-9.3-4.2-9.3-9.3S5.2 1 10.3 1s9.3 4.2 9.3 9.3-4.2 9.3-9.3 9.3z"/><path d="M9.3 7.8h2v9.3h-2zM9.3 4.2h2v2.3h-2z"/></svg>
        <p>Learn</p>
    </a>
    <a class="support" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.2 22.8"><path d="M18.7 7.7h-1.1c0-4.2-3.5-7.7-7.7-7.7S2.2 3.5 2.2 7.7h-.6C.7 7.7 0 8.4 0 9.3v6.4c0 .9.7 1.6 1.6 1.6h3.2c.9 0 1.6-.7 1.6-1.6V9.3c0-.9-.7-1.6-1.6-1.6H3.2a6.7 6.7 0 0 1 13.4 0h-1.1c-.9 0-1.6.7-1.6 1.6v6.4c0 .9.7 1.6 1.6 1.6h.5c-.7.9-1.7 1.5-3.2 2.1v-.2c0-.7-.6-1.3-1.3-1.3H9c-.7 0-1.3.6-1.3 1.3v2.4c0 .7.6 1.3 1.3 1.3h2.4c.7 0 1.3-.6 1.3-1.3v-1.2h.1c2.1-.7 3.4-1.7 4.3-3.1h1.5c.9 0 1.6-.7 1.6-1.6V9.3c0-.9-.7-1.6-1.5-1.6zM5.3 9.3v6.4c0 .3-.2.6-.6.6H1.6c-.4-.1-.6-.3-.6-.6V9.3c0-.3.2-.6.6-.6h3.2c.2 0 .5.3.5.6zm6.5 12.2c0 .2-.1.3-.3.3H9c-.2 0-.3-.1-.3-.3v-2.4c0-.2.1-.3.3-.3h2.4c.2 0 .3.1.3.3v2.4zm7.4-5.8c0 .3-.2.6-.6.6h-3.2c-.3 0-.6-.2-.6-.6V9.3c0-.3.2-.6.6-.6h3.2c.3 0 .6.2.6.6v6.4z"/></svg>
        <p>Support</p>
    </a>
    <a class="specs" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.7 22.6"><path d="M14.5 5.1l-1 .3c.7 2.5-.4 5.4-2.7 7.1-.5-1.4-1.1-3-1.9-4.7.9-.8 1.5-2 1.5-3.3C10.4 2 8.4 0 5.9 0S1.5 2 1.5 4.4c0 1.3.6 2.6 1.6 3.4C-1.9 18.2.5 22.4.6 22.6l.9-.5s-1.4-2.6.4-8.5c1.3.9 2.8 1.4 4.4 1.4 1.3 0 2.6-.3 3.9-1 1.6 5.6.3 8.1.3 8.1l.4.3.4.3c.1-.1 1.6-2.8-.2-9.1 2.8-2 4.2-5.5 3.4-8.5zm-12-.7C2.5 2.5 4.1 1 5.9 1s3.4 1.5 3.4 3.4-1.5 3.5-3.4 3.5c-.6 0-1.3-.2-1.9-.6-.9-.7-1.5-1.7-1.5-2.9zm-.2 8.2c.4-1.3 1-2.6 1.7-4.2.6.3 1.3.5 2 .5s1.4-.2 2-.5c.8 1.8 1.5 3.3 1.9 4.7-2.6 1.4-5.6 1.2-7.6-.5z"/></svg>
        <p>Specs</p>
    </a>
    <a class="downloads" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.6 20.5"><path d="M0 14.4v6h18.6v-6H0zm17.6 5.1H1v-4h16.6v4zM18.1 3.9L14.2 0 9.3 4.9 4.4 0 .5 3.9l8.8 8.8 8.8-8.8zm-8.8 7.3L2 3.9l2.5-2.5 4.9 4.9 4.9-4.9 2.5 2.5-7.5 7.3z"/></svg>
        <p>Downloads</p>
    </a>
</div>

