@import 'font-families.less';
@import 'intel-colors.less';

.global-navigation {
    color: white;
    font-family: 'intel-clear';
    -webkit-font-smoothing: antialiased;
    svg {
        max-width: 100%;
        max-height: 100%;
        fill: white;
    }
    .top-bar {
        position: relative;
        height: 60px;
        background-color: #0070c5;
        text-align: right;
        a,
        button {
            display: inline-block;
            vertical-align: top;
            height: 100%;
            line-height: 100%;
            border: 0;
            margin: 0;
            padding: 0 11px;
            background-color: transparent;
            outline: 0;
            &:hover {
                color: @pale-blue;
            }
            &:last-child {
                padding-right: 22px;
            }
        }
        .main-menu {
            float: left;
            padding-left: 22px;
            .hamburger-menu {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                width: 30px;
                height: 100%;
                margin-right: 22px;
                .bar {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    height: 2px;
                    width: 100%;
                    border-radius: 1px;
                    background-color: white;
                }
                .bar-2 {
                    margin-top: -10px;
                }
                .bar-3 {
                    margin-top: 10px;
                }
            }
            .site-name {
                display: inline-block;
                vertical-align: middle;
                font-size: 18px;
                margin: 0;
            }
        }
        .logo {
            position: absolute;
            display: block;
            top: 0;
            left: 50%;
            width: 82px;
            height: 100%;
            padding: 8px;
            margin-left: -41px;
        }
    }
}
