@import 'font-families.less';
@import 'intel-colors.less';

.global-navigation {
    position: fixed;
    width: 100%;
    color: white;
    font-family: 'intel-clear';
    -webkit-font-smoothing: antialiased;
    svg {
        max-width: 100%;
        max-height: 100%;
        fill: white;
    }
    button {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        background-color: transparent;
    }

    // the top bar is the 100% width blue
    // bar on the top of all intel pages
    .top-bar {
        position: relative;
        height: 60px;
        background-color: #0070c5;
        text-align: right;
        a,
        button {
            position: relative;
            display: inline-block;
            vertical-align: top;
            height: 100%;
            line-height: 100%;
            padding: 0 11px;
            z-index: 500;
            overflow: hidden;
            &:hover {
                color: @pale-blue;
            }
            &:after {
                position: absolute;
                display: block;
                content: ' ';
                left: 11px;
                right: 11px;
                bottom: 0;
                height: 3px;
                background-color: @pale-blue;
                transform: translate3d(0, 5px, 0);
                transition: transform 300ms;
            }
            &:last-child {
                padding-right: 22px;
                &:after {
                    right: 22px;
                }
            }
        }
        .main-menu {
            float: left;
            padding-left: 22px;
            .hamburger-menu {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                width: 30px;
                height: 100%;
                margin-right: 22px;
                .bar {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    height: 2px;
                    width: 100%;
                    border-radius: 1px;
                    background-color: white;
                }
                .bar-1 {
                    transform: rotate3d(0, 0, 1, 0) translate3d(0, -10px, 0) scale3d(1, 1, 1);
                    transition: transform 200ms;
                }
                .bar-2 {
                    transition: opacity 100ms;
                    opacity: 1;
                }
                .bar-3 {
                    transform: rotate3d(0, 0, 1, 0) translate3d(0, 10px, 0) scale3d(1, 1, 1);
                    transition: transform 200ms;
                }
            }
            .site-name {
                display: inline-block;
                vertical-align: middle;
                font-size: 18px;
                margin: 0;
            }
            &:hover {
                color: white;
                .bar {
                    background-color: @pale-blue;
                }
            }
            &:after {
                left: 80px;
            }
        }
        .logo {
            position: absolute;
            display: block;
            top: 0;
            left: 50%;
            width: 82px;
            height: 100%;
            padding: 8px;
            margin-left: -41px;
        }
    }

    // flyouts are the dark navigation
    // panels which have links, etc
    .flyout {
        position: absolute;
        top: 0;
        left: 0;
        width: 460px;
        height: 100vh;
        background-color: @charcoal;
        z-index: 100;
        overflow: hidden;
        transition: transform 300ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        transform: translate3d(-100%, 0, 0);
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 60px;
            content: ' ';
            background-color: #333;
            z-index: 100;
        }
        &.from-right {
            left: auto;
            right: 0;
            transform: translate3d(100%, 0, 0);
            .flyout-close {
                position: absolute;
                top: 0;
                left: 0;
                width: 44px;
                height: 60px;
                margin-left: 11px;
                opacity: 0;
                z-index: 102;
                transition: opacity 75ms;
                .bar {
                    position: absolute;
                    top: 50%;
                    left: 7px;
                    right: 7px;
                    height: 2px;
                    border-radius: 1px;
                    background-color: white;
                }
                .bar-1 {
                    transform: rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 0) scale3d(1.3, 1, 1);
                }
                .bar-2 {
                    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, 0, 0) scale3d(1.3, 1, 1);
                }
                &:hover .bar {
                    background-color: @pale-blue;
                }
            }
        }

        // planks represent levels of navigation
        // inside of a flyout menu. They can be
        // n levels deep
        .plank {
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 22px;
            padding-top: 82px;
            overflow: auto;
            transform: translate3d(100%, 0, 0);
            transition: transform 300ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
            header {
                position: relative;
                text-align: center;
                margin-bottom: 11px;
                .back {
                    position: absolute;
                    top: 0;
                    left: -22px;
                    font-size: 14px;
                    display: inline-block;
                    vertical-align: middle;
                    color: @light-gray;
                    line-height: 44px;
                    padding: 0 22px;
                    &:before {
                        display: block;
                        content: ' ';
                        float: left;
                        width: 4px;
                        height: 44px;
                        margin-right: 4px;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#FFFFFF' viewBox='0 0 3.1 6'%3E%3Cpath d='M1.4 3l1.7 3H1.8L0 3l1.8-3h1.3L1.4 3z'/%3E%3C/svg%3E");
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                    &:hover {
                        color: @pale-blue;
                        &:before {
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#8CDAFA' viewBox='0 0 3.1 6'%3E%3Cpath d='M1.4 3l1.7 3H1.8L0 3l1.8-3h1.3L1.4 3z'/%3E%3C/svg%3E");
                        }
                    }
                }
                h4 {
                    display: inline-block;
                    vertical-align: middle;
                    font-weight: bold;
                    line-height: 44px;
                    margin: 0;
                    padding: 0;
                }
            }
            > a {
                display: block;
                line-height: 44px;
                text-decoration: none;
                color: white;
                &.open-plank:before {
                    display: block;
                    content: ' ';
                    float: right;
                    width: 4px;
                    height: 44px;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#FFFFFF' viewBox='0 0 3.1 6'%3E%3Cpath d='M1.7 3L0 0h1.3l1.8 3-1.8 3H0l1.7-3z'/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                &:hover {
                    color: @pale-blue;
                    &.open-plank:before {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#8CDAFA' viewBox='0 0 3.1 6'%3E%3Cpath d='M1.7 3L0 0h1.3l1.8 3-1.8 3H0l1.7-3z'/%3E%3C/svg%3E");
                    }
                }
            }
            hr {
                border-color: @dark-gray;
            }
            &.active {
                transform: translate3d(0, 0, 0);
            }
            &.pushed {
                transform: translate3d(-100%, 0, 0);
            }
        }
    }
    &.flyout-active {
        height: 100%;
        .shader {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            transition: background-color 200ms;
        }
    }
    &.microsite-flyout-active {
        .main-menu {
            &:after {
                transform: translate3d(0, 0, 0);
                transition: transform 300ms 100ms;
            }
            .hamburger-menu {
                .bar-1 {
                    transform: rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 0) scale3d(1.3, 1, 1);
                }
                .bar-2 {
                    opacity: 0;
                }
                .bar-3 {
                    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, 0, 0) scale3d(1.3, 1, 1);
                }
            }
        }
        #microsite-flyout {
            .flyout-close {
                opacity: 1;
                transition: opacity 200ms 300ms;
            }
            transform: translate3d(0, 0, 0);
        }
    }
    &.region-flyout-active {
        .region-select:after {
            transform: translate3d(0, 0, 0);
            transition: transform 300ms 100ms;
        }
        #region-flyout {
            .flyout-close {
                opacity: 1;
                transition: opacity 200ms 300ms;
            }
            transform: translate3d(0, 0, 0);
        }
    }
    &.signin-flyout-active {
        .sign-in:after {
            transform: translate3d(0, 0, 0);
            transition: transform 300ms 100ms;
        }
        #signin-flyout {
            .flyout-close {
                opacity: 1;
                transition: opacity 200ms 300ms;
            }
            transform: translate3d(0, 0, 0);
        }
    }
    &.search-flyout-active {
        .search:after {
            transform: translate3d(0, 0, 0);
            transition: transform 300ms 100ms;
        }
        #search-flyout {
            .flyout-close {
                opacity: 1;
                transition: opacity 200ms 300ms;
            }
            transform: translate3d(0, 0, 0);
        }
    }

    #search-flyout {
        form.search {
            position: relative;
            height: 60px;
            margin: -22px -22px 22px -22px;
        }
        #mobile-search {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 60px;
            border: 0;
            padding-left: 66px;
            background-color: transparent;
            font-weight: 200;
            font-size: 22px;
            outline: 0;
        }
        ul {
            padding-left: 0;
            li {
                list-style: none;
                a {
                    display: block;
                    line-height: 32px;
                    text-decoration: none;
                    color: white;
                    outline: 0;
                    &:hover {
                        color: @pale-blue;
                    }
                }
            }
        }
    }

    // the shader dims page content
    // when a flyout is active
    .shader {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0);
        z-index: 50;
        transition: background-color 200ms, width 0ms 200ms, height 0ms 200ms;
    }
}
