.blade.homepage-taskbar {
    text-align: center;
    background-color: @charcoal;
    a {
        display: inline-block;
        color: white;
        font-weight: lighter;
        svg {
            max-width: 37px;
            max-height: 37px;
        }
        p {
            margin: 0;
        }
    }
}
