.accordian-blade {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    display: table;
    a {
        display: table-cell;
        width: 1%;
        transition: width 175ms ease-out;
        &:hover {
            width: 10%;
        }
    }
}
