<div class="accordian-blade">
    {{#each sections}}
        <section style="background-image: url('{{image-url}}')">
            <h3>{{title}}</h3>
            <div class="revealing-info">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non dui sem. Morbi dapibus interdum sem ut faucibus. Etiam aliquam id est ut mollis. Duis sodales viverra sapien in bibendum. Morbi finibus eleifend tellus. Vivamus tristique suscipit libero. Nam vulputate eros ac ipsum faucibus consequat.</p>
                <p>Aliquam porttitor fermentum odio sit amet fringilla. Aliquam vitae varius tellus. Praesent vel dapibus tellus. In vel ultricies felis. Proin diam turpis, dictum id neque id, ullamcorper finibus tellus.</p>
            </div>
        </section>
    {{/each}}
</div>
