<div class="blade video-hovers">
    <a class="video-hover" href="#">
        <figure style="background-image: url('assets/imgs/video-hover/bee.jpg')">
        </figure>
        <div class="text">
            <h3>Lorem ipsum dolor sit amet,</h3>
            <h3>consectetur adipisicing elit, sed do</h3>
            <button class="btn btn-outline">Lorem ipsum dolor</button>
        </div>
        <video data-start="82">
            <source src="assets/imgs/video-hover/bee.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </a>
    <a class="video-hover" href="#">
        <figure style="background-image: url('assets/imgs/video-hover/bmw.jpg')">
        </figure>
        <div class="text">
            <h3>Collaboration will bring</h3>
            <h3>automated driving by 2021</h3>
            <button class="btn btn-outline">Lorem ipsum dolor</button>
        </div>
        <video data-start="82">
            <source src="assets/imgs/video-hover/bmw.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </a>
</div>
