<div class="blade video-hovers">
    <a href="#">
        <div class="text">
            <h3>Lorem ipsum dolor sit amet,</h3>
            <h3>consectetur adipisicing elit, sed do</h3>
            <button class="btn btn-outline">Lorem ipsum dolor</button>
        </div>
    </a>
    <a href="#">
        <div class="text">
            <h3>Lorem ipsum dolor sit amet,</h3>
            <h3>consectetur adipisicing elit, sed do</h3>
            <button class="btn btn-outline">Lorem ipsum dolor</button>
        </div>
    </a>
</div>
