<div class="drone-page">
  <div data-floating-nav-label="Overview">
    <header class="hero">
      <div class="container">
        <button class="configurator pull-right">Configure Your Drone</button>
        <h4>The future of</h4>
        <h1>
          <span class="line-1">Commercial</span>
          <span class="line-2">Drones</span>
        </h1>
        <figure class="drone"><img src="assets/imgs/drones-hub/hero-drone.png" alt="Falcon 8 drone"></figure>
        <a href="#overview-text"><button class="scroll"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M29.4 42.6a1.88 1.88 0 0 0 0 2.6L50 65.8l20.6-20.6a1.94 1.94 0 0 0 0-2.6 1.88 1.88 0 0 0-2.6 0l-18 18-18-18a1.87 1.87 0 0 0-2.6 0z"/><path d="M96.3 50A46.3 46.3 0 1 1 50 3.7 46.39 46.39 0 0 1 96.3 50zM0 50A50 50 0 1 0 50 0 50 50 0 0 0 0 50z"/></svg></button></a>
      </div>
    </header>

    <section id="overview-text">
      <figure class="drone"></figure>
      <p>The commercial drone industry is growing, and the applications are becoming more robust. Intel is committed to leading the way for a new era commercial drone integration.</p>
      <p>By expanding the potentials of drone technology, Intel can provide new capabilities in sectors from surveying and inspection to construction and energy. We’re also working with the software, integrated cloud, and network solutions that will enable industries to leverage their new drone-collected data and turn it into the actionable insights that power businesses.</p>
    </section>
  </div>

  <section data-floating-nav-label="The Drones">
    <h4>The Right Drone for The Right Job</h4>
    <div class="column">
      <h2 class="line-1">Intel</h2>
      <h2 class="line-2">Falcon8+</h2>
      <figure class="drone falcon-8"></figure>
      <p>SIRIUS PRO* Unmanned Aerial System Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
      <p><a href="#">Visit full product page ›</a></p>
      <ul class="icon-grid">
        <li>
          <figure></figure>
          <h5>Flight Time</h5>
          <h6>up to 26 minutes
            <h6>
        </li>
        <li>
          <figure></figure>
          <h5>Safety Features</h5>
          <h6>Auto Pilot</h6>
        </li>
        <li>
          <figure></figure>
          <h5>Flight Time</h5>
          <h6>up to 26 minutes</h6>
        </li>
        <li>
          <figure></figure>
          <h5>Connection Range</h5>
          <h6>up to 1km+</h6>
        </li>
        <li>
          <figure></figure>
          <h5>Precise Data</h5>
          <h6>up to 26 minutes</h6>
        </li>
        <li>
          <figure></figure>
          <h5>Robust Performance</h5>
          <h6>12 m/s (GPS Mode)</h6>
        </li>
      </ul>
    </div>
    <div class="column">
      <h2 class="line-1">Mavinci</h2>
      <h2 class="line-2">Sirius Pro</h2>
      <figure class="drone sirius-pro"></figure>
      <p>The Intel® Falcon™ 8+ drone is an advanced, perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae que ipsa quae ab illo inventore.</p>
      <p><a href="#">Visit full product page ›</a></p>
      <ul class="icon-grid">
        <li>
          <figure></figure>
          <h5>Flight Time</h5>
          <h6>up to 26 minutes
            <h6>
        </li>
        <li>
          <figure></figure>
          <h5>Safety Features</h5>
          <h6>Auto Pilot</h6>
        </li>
        <li>
          <figure></figure>
          <h5>Flight Time</h5>
          <h6>up to 26 minutes</h6>
        </li>
        <li>
          <figure></figure>
          <h5>Connection Range</h5>
          <h6>up to 1km+</h6>
        </li>
        <li>
          <figure></figure>
          <h5>Precise Data</h5>
          <h6>up to 26 minutes</h6>
        </li>
        <li>
          <figure></figure>
          <h5>Robust Performance</h5>
          <h6>12 m/s (GPS Mode)</h6>
        </li>
      </ul>
    </div>
    <button id="activate-drone-comparison">
      <figure class="plus-icon"></figure>
      <span>Click to Compare Drones</span>
    </button>
  </section>

  <section data-floating-nav-label="Mission Control">
    <h3>3-Step Process</h3>
    <h6>Mission Control - The Brains Behind It All</h6>
  </section>

  <section data-floating-nav-label="The Industries">
    <header>
      <h2>Industry<br>Applications</h2>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae</p>
    </header>
    <div class="industry oil">
      <figure class="oil-rig-1"></figure>
      <figure class="oil-rig-2"></figure>
      <figure class="drone"></figure>
      <div class="text">
        <h3>Oil & Gas</h3>
        <p>Commercial drones are disrupting the oil and gas industry. By utilizing the Intel® Falcon™ 8+ system to conduct close inspections when operations are live and online, companies are realizing decreased downtime, reduced risk to workers, and optimized costs. Additionally, commercial drones are ideal for capturing visual or thermal images of flare stacks, underdeck, cooling towers and chimney, and confined spaces.</p>
      </div>
    </div>
    <div class="industry agriculture">
      <figure class="field-1"></figure>
      <figure class="field-2"></figure>
      <figure class="drone"></figure>
      <div class="text">
        <h3>Agriculture</h3>
        <p>Agriculture is getting a lift from the insights provided by maps generated from images captured by commercial drones. For example, scanning for irrigation breaks and plant counting for yield prediction via drone allows farmers to focus on areas that need the most help. Additionally, tools for monitoring plant health, like multispectral sensors, can enable better optimized crop yields for farmers, while reducing water consumption and fertilization costs.</p>
      </div>
    </div>
    <div class="industry construction">
      <figure class="site-1"></figure>
      <figure class="site-2"></figure>
      <figure class="drone"></figure>
      <div class="text">
        <h3>Construction</h3>
        <p>The construction market is set to grow across all phases of the building lifecycle, from design to construction and operation, and potentially even demolition. More recently in the design phase, drone data and insights lend themselves well to the Building Information Modeling (BIM) approach. In the construction phase, drones offer a quicker way to develop work plans based on site surveys and can help monitor a site's status while projects are underway.</p>
      </div>
    </div>
    <div class="industry utilities">
      <figure class="plant-1"></figure>
      <figure class="plant-2"></figure>
      <figure class="drone"></figure>
      <div class="text">
        <h3>Utilities</h3>
        <p>Utility asset management will be a critical challenge for the next decade and companies are seeking opportunities for preventive repairs, instead of risking costly outages. Regular inspections by commercial drones like the Intel® Falcon™ 8+ drone or corridor mapping with MAVinci SIRIUS PRO* are an ideal solution for maintenance. Drones can be the eyes-in-the-sky for power line, pipeline, and clean energy assets utility crews.</p>
      </div>
    </div>
  </section>

  <section data-floating-nav-label="Case Studies">
    <h3>Case Studies</h3>
    <p>Europan lingues es membres del sam familie. Separat existentie es un myth usa li sam.</p>
    <div class="highlights">
      <div class="highlight">
        <div class="text">
          <h5>Oil & Gas Case Study</h5>
          <h3>Cyberhawk Scotland</h3>
          <p>Donec dictum sodales tellus, in dapibus nulla porta quis. Maecenas consectetur sapien a elementum dapibus. Maecenas fringilla tincidunt nulla et viverra. In purus massa, lacinia et velit.</p>
          <a href="#"><button class="intel blue">
              <span>Watch Video</span>
              <figure class="play icon"></figure>
          </a>
          <a href="#">Explore Now</a>
        </div>
      </div>
      <div class="highlight">
        <div class="text">
          <h5>Inspection Case Study</h5>
          <h3>Honeywell Aerospace</h3>
          <p>Donec dictum sodales tellus, in dapibus nulla porta quis. Maecenas consectetur sapien a elementum dapibus. Maecenas fringilla tincidunt nulla et viverra. In purus massa, lacinia et velit.</p>
          <a href="#"><button class="intel blue">
              <span>Watch Video</span>
              <figure class="play icon"></figure>
          </a>
          <a href="#">Explore Now</a>
        </div>
      </div>
    </div>
    <figure class="icon computer"></figure>
    <h3>Login to your Dashboard</h3>
    <p>Maecenas fringilla tincidunt nulla et viverra. In purus massa, lacinia et velit. Donec dictum sodales tellus, in dapibus nulla .</p>
    <a href="#"><button class="intel blue">Go to Dashboard</button></a>
  </section>

  <section data-floating-nav-label="Dashboard">
    <h5>The Drone Feed</h5>
    <div class="feed">
      <div class="feed-item">
        <figure></figure>
        <h3>Title</h3>
        <p>Some description</p>
      </div>
    </div>
  </section>

  <section data-floating-nav-label="Related Topics">
    <h5>More From the World of Intel Drones</h5>
    <a href="#" class="revolution">The Airborne Revolution</a>
    <a href="#" class="drone-show">Intel Drones Light Up the Sky</a>
  </section>
</div>
