<header class="drone-page">
  <h4>The future of</h4>
  <h1>
    <span class="line-1">Commercial</span>
    <span class="line-2">Drones</span>
  </h1>
  <figure class="drone"></figure>
</header>

<section class="overview" data-floating-nav-label="Overview">
  <figure class="drone"></figure>
  <p>The commercial drone industry is growing, and the applications are becoming more robust. Intel is committed to leading the way for a new era commercial drone integration.</p>
  <p>By expanding the potentials of drone technology, Intel can provide new capabilities in sectors from surveying and inspection to construction and energy. We’re also working with the software, integrated cloud, and network solutions that will enable industries to leverage their new drone-collected data and turn it into the actionable insights that power businesses.</p>
</section>

<section class="comparison" data-floating-nav-label="The Drones">
  <h4>The Right Drone for The Right Job</h4>
  <div class="column">
    <h2 class="line-1">Intel</h2>
    <h2 class="line-2">Falcon8+</h2>
    <figure class="drone falcon-8"></figure>
    <p>SIRIUS PRO* Unmanned Aerial System Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
    <p><a href="#">Visit full product page ›</a></p>
    <ul class="icon-grid">
      <li>
        <figure></figure>
        <h5>Flight Time</h5>
        <h6>up to 26 minutes
          <h6>
      </li>
      <li>
        <figure></figure>
        <h5>Safety Features</h5>
        <h6>Auto Pilot</h6>
      </li>
      <li>
        <figure></figure>
        <h5>Flight Time</h5>
        <h6>up to 26 minutes</h6>
      </li>
      <li>
        <figure></figure>
        <h5>Connection Range</h5>
        <h6>up to 1km+</h6>
      </li>
      <li>
        <figure></figure>
        <h5>Precise Data</h5>
        <h6>up to 26 minutes</h6>
      </li>
      <li>
        <figure></figure>
        <h5>Robust Performance</h5>
        <h6>12 m/s (GPS Mode)</h6>
      </li>
    </ul>
  </div>
  <div class="column">
    <h2 class="line-1">Mavinci</h2>
    <h2 class="line-2">Sirius Pro</h2>
    <figure class="drone sirius-pro"></figure>
    <p>The Intel® Falcon™ 8+ drone is an advanced, perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae que ipsa quae ab illo inventore.</p>
    <p><a href="#">Visit full product page ›</a></p>
    <ul class="icon-grid">
      <li>
        <figure></figure>
        <h5>Flight Time</h5>
        <h6>up to 26 minutes
          <h6>
      </li>
      <li>
        <figure></figure>
        <h5>Safety Features</h5>
        <h6>Auto Pilot</h6>
      </li>
      <li>
        <figure></figure>
        <h5>Flight Time</h5>
        <h6>up to 26 minutes</h6>
      </li>
      <li>
        <figure></figure>
        <h5>Connection Range</h5>
        <h6>up to 1km+</h6>
      </li>
      <li>
        <figure></figure>
        <h5>Precise Data</h5>
        <h6>up to 26 minutes</h6>
      </li>
      <li>
        <figure></figure>
        <h5>Robust Performance</h5>
        <h6>12 m/s (GPS Mode)</h6>
      </li>
    </ul>
  </div>
  <button id="activate-drone-comparison">
    <figure class="plus-icon"></figure>
    <span>Click to Compare Drones</span>
  </button>
</section>

<section class="comparison" data-floating-nav-label="Mission Control">
</section>

<section class="comparison" data-floating-nav-label="The Industries">
</section>

<section class="comparison" data-floating-nav-label="Case Studies">
</section>

<section class="comparison" data-floating-nav-label="Dashboard">
</section>

<section class="comparison" data-floating-nav-label="Related Topics">
</section>
