<div class="drone-page">
  <button class="configurator">Configure Your Drone</button>

  <div data-floating-nav-label="Overview">
    <header class="hero full-screen">
      <div class="center-vertically">
        <h5>The future of</h5>
        <h1 class="commercial">Commercial</h1>
        <figure class="drone"><img src="assets/imgs/drones-hub/hero-drone.png" alt="Falcon 8 drone"></figure>
        <h1 class="drones">Drones</h1>
      </div>
      <a href="#overview-text"><button class="scroll"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M29.4 42.6a1.88 1.88 0 0 0 0 2.6L50 65.8l20.6-20.6a1.94 1.94 0 0 0 0-2.6 1.88 1.88 0 0 0-2.6 0l-18 18-18-18a1.87 1.87 0 0 0-2.6 0z"/><path d="M96.3 50A46.3 46.3 0 1 1 50 3.7 46.39 46.39 0 0 1 96.3 50zM0 50A50 50 0 1 0 50 0 50 50 0 0 0 0 50z"/></svg></button></a>
    </header>

    <section id="overview-text" class="full-screen">
      <div class="center-vertically">
        <figure class="drone"><img src="assets/imgs/drones-hub/falcon-drone.png" alt="Falcon 8 drone"></figure>
        <p class="big">The commercial drone industry is growing, and the applications are becoming more robust. Intel is committed to leading the way for a new era commercial drone integration.</p>
        <p>By expanding the potentials of drone technology, Intel can provide new capabilities in sectors from surveying and inspection to construction and energy. We’re also working with the software, integrated cloud, and network solutions that will enable industries to leverage their new drone-collected data and turn it into the actionable insights that power businesses.</p>
      </div>
    </section>
  </div>

  <section data-floating-nav-label="The Drones" class="drone-comparison full-screen">
    <h6>The Right Drone for The Right Job</h6>
    <div class="container">
      <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h2>Intel</h2>
        <h2>Falcon 8+</h2>
        <figure class="drone falcon-8"><img src="assets/imgs/drones-hub/falcon-angled.png" alt="Falcon 8 Drone"></figure>
        <p>SIRIUS PRO* Unmanned Aerial System Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
        <a href="#">Visit full product page ›</a>
        <ul class="icon-grid">
          <li>
            <figure><img src="assets/svgs/drones/robust-performance.svg" alt="Performance Icon"></figure>
            <p>Robust Performance</p>
            <p>
              12 m/s (GPS Mode)<br> 16 m/s (Manual)
            </p>
          </li>
          <li>
            <figure><img src="assets/svgs/drones/precise-data.svg" alt="Presicion Icon"></figure>
            <p>Precise Data</p>
            <p>1mm GSD</p>
          </li>
          <li>
            <figure><img src="assets/svgs/drones/safety-feature.svg" alt="Safety Icon"></figure>
            <p>Safety Features</p>
            <p>
              Triple Redundant<br> Flight Control
            </p>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h2>Mavinci</h2>
        <h2>Sirius Pro</h2>
        <figure class="drone sirius-pro"><img src="assets/imgs/drones-hub/sirius-angled.png" alt="Falcon 8 Drone"></figure>
        <p>The Intel® Falcon™ 8+ drone is an advanced, perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae que ipsa quae ab illo inventore.</p>
        <a href="#">Visit full product page ›</a>
        <ul class="icon-grid">
          <li>
            <figure><img src="assets/svgs/drones/robust-performance.svg" alt="Performance Icon"></figure>
            <p>Robust Performance</p>
            <p>
              12 m/s (GPS Mode)<br> 16 m/s (Manual)
            </p>
          </li>
          <li>
            <figure><img src="assets/svgs/drones/precise-data.svg" alt="Presicion Icon"></figure>
            <p>Precise Data</p>
            <p>1mm GSD</p>
          </li>
          <li>
            <figure><img src="assets/svgs/drones/safety-feature.svg" alt="Safety Icon"></figure>
            <p>Safety Features</p>
            <p>
              Triple Redundant<br> Flight Control
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <div data-floating-nav-label="Our Technology">
    <section class="mission-control full-screen">
      <div class="center-vertically">
        <h3>Mission Control</h3>
        <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium<br> doloremque laudantium, totam rem aperiam, eaque ipsa quae
        </p>
      </div>
    </section>

    <section class="flight-planning full-screen">
      <div class="center-vertically">
        <figure class="drone falcon-8-top"><img src="assets/imgs/drones-hub/falcon-top.png" alt="Falcon 8 Drone"></figure>
        <h3>Flight Planning</h3>
        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
        <p>Consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet. Sed ut perspiciatis unde omnis iste natus error.</p>
      </div>
    </section>

    <section class="data-aquisition full-screen">
      <div class="center-vertically">
        <figure class="drone"><img src="assets/imgs/drones-hub/falcon-drone.png" alt="Falcon 8 drone"></figure>
        <h3>Data Aquisition</h3>
        <div class="container">
          <div class="col-xs-12 col-sm-6">
            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. Sed ut perspic voluptatem accusantium doloremque laudantium. Consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
            <p>Sed ut perspiciatis unde omnis iste natus error.</p>
          </div>
          <div class="col-xs-12 col-sm-6">
            <p>Sed ut perspiciatis unde omnis iste natus Consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt.</p>
            <p>Dolore ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="data-analysis full-screen">
      <div class="center-vertically">
        <figure class="drone"><img src="assets/imgs/drones-hub/hero-drone.png" alt="Falcon 8 drone"></figure>
        <h3>Data Analysis</h3>
        <div class="container">
          <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. Sed ut perspic voluptatem accusantium doloremque laudantium. Consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
          <p>Sed ut perspiciatis unde omnis iste natus error.</p>
        </div>
      </div>
    </section>
  </div>

  <section data-floating-nav-label="The Industries" class="industry-applications full-screen">
    <header>
      <h2>Industry<br>Applications</h2>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae</p>
    </header>
    <div class="container">
      <div class="industry">
        <div class="row">
          <div class="col-xs-12 col-sm-7">
            <figure><img src="assets/imgs/drones-hub/oil-and-gas.jpg" alt="Oil & Gas"></figure>
          </div>
          <div class="col-xs-12 col-sm-5">
            <h4>Oil & Gas</h4>
            <p>Commercial drones are disrupting the oil and gas industry. By utilizing the Intel® Falcon™ 8+ system to conduct close inspections when operations are live and online, companies are realizing decreased downtime, reduced risk to workers, and optimized costs. Additionally, commercial drones are ideal for capturing visual or thermal images of flare stacks, underdeck, cooling towers and chimney, and confined spaces.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-5">
            <h6>Oil &amp; Gas Case Study</h6>
            <h3>Cyberhawk Scotland</h3>
            <p>Donec dictum sodales tellus, in dapibus nulla porta quis. Maecenas consectetur sapien.</p>
            <a href="#">Explore The White Paper ›</a>
          </div>
          <div class="col-xs-12 col-sm-7">
            <figure><img src="assets/imgs/drones-hub/oil-and-gas-case-study.jpg" alt="Oil & Gas"></figure>
          </div>
        </div>
      </div>
      <div class="industry construction">
        <div class="row">
          <div class="col-xs-12 col-sm-5">
            <h4>Construction</h4>
            <p>The construction market is set to grow across all phases of the building lifecycle, from design to construction and operation, and potentially even demolition. More recently in the design phase, drone data and insights lend themselves well to the Building Information Modeling (BIM) approach. In the construction phase, drones offer a quicker way to develop work plans based on site surveys and can help monitor a site's status while projects are underway. Drones can also offer safe and low-cost inspection solutions and progress monitoring tools to assist with ongoing building operations and management.</p>
          </div>
          <div class="col-xs-12 col-sm-5">
            <figure><img src="assets/imgs/drones-hub/construction.jpg" alt="Construction Site"></figure>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-7">
            <figure><img src="assets/imgs/drones-hub/construction-case-study.jpg" alt="Oil & Gas"></figure>
          </div>
          <div class="col-xs-12 col-sm-5">
            <h6>Construction Case Study</h6>
            <h3>Michael Baker International</h3>
            <p>Donec dictum sodales tellus, in dapibus nulla porta quis. Maecenas consectetur sapien.</p>
            <a href="#">Explore The White Paper ›</a>
          </div>
        </div>
      </div>
      <div class="industry agriculture">
        <div class="row">
          <div class="col-xs-12 col-sm-7">
            <figure><img src="assets/imgs/drones-hub/agriculture.jpg" alt="Agriculture"></figure>
          </div>
          <div class="col-xs-12 col-sm-5">
            <h4>Agriculture</h4>
            <p>Agriculture is getting a lift from the insights provided by maps generated from images captured by commercial drones. For example, scanning for irrigation breaks and plant counting for yield prediction via drone allows farmers to focus on areas that need the most help. Additionally, tools for monitoring plant health, like multispectral sensors, can enable better optimized crop yields for farmers, while reducing water consumption and fertilization costs.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-7">
            <figure><img src="assets/imgs/drones-hub/agriculture-small.jpg" alt="Agriculture"></figure>
            <figure class="drone"><img src="assets/imgs/drones-hub/sirius-drone-agriculture.png" alt="Agriculture Drone"></figure>
          </div>
        </div>
      </div>
      <div class="industry utilities">
        <div class="row">
          <div class="col-xs-12 col-sm-5">
            <h4>Utilities</h4>
            <p>Utility asset management will be a critical challenge for the next decade and companies are seeking opportunities for preventive repairs, instead of risking costly outages. Regular inspections by commercial drones like the Intel® Falcon™ 8+ drone or corridor mapping with MAVinci SIRIUS PRO* are an ideal solution for maintenance. Drones can be the eyes-in-the-sky for power line, pipeline, and clean energy assets utility crews.</p>
          </div>
          <div class="col-xs-12 col-sm-7">
            <figure><img src="assets/imgs/drones-hub/utilities-big.jpg" alt="Utility Road"></figure>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-7">
            <figure><img src="assets/imgs/drones-hub/utilities-small.jpg" alt="Wind Turbine"></figure>
            <figure class="drone"><img src="assets/imgs/drones-hub/falcon-top.png" alt="Falcon 8 from top"></figure>
          </div>
        </div>
      </div>
    </div>
    <footer class="configure-drone">
      <figure class="drone"><img src="assets/imgs/drones-hub/drone-3d.png" alt="Falcon 8 Icon"></figure>
      <h5>Configure Your Drone</h5>
      <p>Maecenas fringilla tincidunt nulla et viverra. In purus massa, lacinia et velit. Donec dictum sodales tellus, in dapibus nulla.</p>
      <button>Contact An Expert</button>
    </footer>
  </section>

  <section data-floating-nav-label="Dashboard" class="drone-article-feed full-screen">
    <h6>Drone Business Intelligence</h6>
  </section>

  <section data-floating-nav-label="Related Topics" class="related-topics full-screen">
    <h6>More From the World of Intel Drones</h6>
    <a href="#" class="revolution">The Airborne Revolution</a>
    <a href="#" class="drone-show">Intel Drones Light Up the Sky</a>
  </section>
</div>
