@lightColor: white;
@darkColor: black;
@activeColor: #8cdafa;
@transitionTiming: 175ms;

nav.floating-nav {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 800;
  transform: translate3d(0, -50%, 0);

  .nav-item {
    position: relative;
    display: block;
    padding: 16px 32px 16px 7px;
    cursor: pointer;
    text-align: right;
    font-size: 14px;
    text-decoration: none;
    color: @darkColor;
    transition: color @transitionTiming;
    &:before,
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      top: 50%;
      left: auto;
      right: 7px;
      border-radius: 100%;
      transition: all @transitionTiming;
      box-sizing: border-box;
    }
    &:before {
      width: 20px;
      height: 20px;
      border: 2px solid @darkColor;
      transform: translate3d(0, -50%, 0) scale(0.1);
    }
    &:after {
      width: 10px;
      height: 10px;
      background-color: @darkColor;
      transform: translate3d(-50%, -50%, 0);
    }

    &:hover {
      color: @activeColor;
      &:after { background-color: @activeColor; }
    }
  }
  .nav-item.active {
    color: @activeColor;
    &:before {
      border-color: @activeColor;
      transform: translate3d(0, -50%, 0) scale(1);
    }
    &:after {
      background-color: @activeColor;
    }
  }
}
