.full-page-home-layout {
    display: flex;
    height: 100vh;
    flex-flow: column;
    min-height: 875px;
    .seventh-gen-core-hero {
        flex: 1;
    }
    @media screen and (max-width: 900px) {
        min-height: 725px;
    }
}
