<div class="blade seventh-gen-core-hero">
    <figure id="particle-system">
    </figure>
    <figure class="laptop"></figure>
    <div class="text">
        <h2>7<sup class="th">th</sup> Gen Intel<sup class="copy">&copy;</sup> Core<sup class="trade">&trade;</sup> Processors</h2>
        <p>Pellentesque sit amet condimentum velit. Vestibulum faucibus efficitur arcu at facilisis. Aliquam gravida non leo et.</p>
        <a id="main-cta" href="javascript:void(0)" class="btn btn-outline">Lorem ipsum dolor</a>
    </div>
</div>
