<div class="blade seventh-gen-core-hero">
    <figure id="particle-system">
    </figure>
    <figure class="laptop"></figure>
    <div class="text">
        <h2>7<sup class="th">th</sup> Gen Intel<sup class="copy">&copy;</sup> Core<sup class="trade">&trade;</sup> Processors</h2>
        <p>Powering the world's thinnest laptops</p>
        <a id="main-cta" href="javascript:void(0)" class="btn btn-outline">Experience 360°&nbsp;of amazing</a>
    </div>
</div>
