---
title: Intel | Data Center Solutions, IOT, and PC Innovation
---

{{> global-nav }}

<div class="homepage-long">

{{> seventh-gen-core-hero }}

{{> taskbar-homepage }}

{{> video-hovers }}

{{> idf-2016 }}

{{> four-video-links }}

{{> alloy }}

{{> hashtag-wall }}

{{> device-choices }}

{{> global-footer }}
</div>

{{> footer-minimal }}
