---
title: Intel | Data Center Solutions, IOT, and PC Innovation
---

{{> global-nav global-nav-transparent }}

<div class="homepage-long">

    {{> seventh-gen-core-hero }}

    {{> taskbar-homepage }}

    {{> video-hovers }}

    {{> idf-2016 }}

    {{> four-video-links }}

    {{> alloy }}

    {{> hashtag-wall }}

    {{> device-choices }}

</div>

{{> footer-minimal }}
