---
title: Microsite Navigation
---

{{> microsite-nav microsite-nav }}

<div style="text-align: center; padding-top: 6em">
    <h2>This is the microsite navigation</h2>
    (<a href="navigation.html">See the global nav</a>)
</div>
