---
title: Main Navigation
---

{{> global-nav global-nav-standard }}

<div style="text-align: center; padding-top: 6em">
    <h2>This is the global navigation</h2>
    (<a href="microsite-nav.html">See the microsite navigation</a>)
</div>
