---
title: Intel | Data Center Solutions, IOT, and PC Innovation
---

{{> global-nav global-nav-transparent }}

<div class="full-page-home-layout">
    {{> seventh-gen-core-hero }}
    {{> taskbar-homepage-small }}
    {{> photo-link-bar }}
</div>

{{> device-choices }}

{{> footer-minimal }}
