<div class="blade alloy-blade">
    <div class="headset-highlight">
        <figure></figure>
    </div>
    <div class="ctas">
        <div class="text">
            <h3>
                Introducing: Alloy<br>
                The Virtual Reality Headset
            </h3>
            <p>Enter a truly immersive world where the boundaries of physical and virtual interactions become one.</p>
            <button class="btn btn-outline blue">Experience our vision</button>
        </div>
        <nav class="related-pages">
            <a class="core-i7" href="javascript:void(0)">Intel Core i7</a>
            <a class="laptop" href="javascript:void(0)">Intel Laptops</a>
            <br class="visible-xs">
            <a class="alloy" href="javascript:void(0)">Intel Alloy Headset for VR</a>
            <a class="chip" href="javascript:void(0)">Intel Chipsets</a>
        </nav>
    </div>
</div>
