<div class="blade alloy-blade">
    <div class="headset-highlight">
        <figure></figure>
    </div>
    <div class="ctas">
        <div class="text">
            <h2>
                Introducing: Alloy<br>
                The Virtual Reality Headset
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <button class="btn btn-outline gray">Lorem ipsum dolor</button>
        </div>
        <nav class="related-pages">
            <a class="core-i7" href="#">Intel Core i7</a>
            <a class="laptop" href="#">Intel Laptops</a>
            <a class="alloy" href="#">Intel Alloy Headset for VR</a>
            <a class="chip" href="#">Intel Chipsets</a>
        </nav>
    </div>
</div>
