<div class="blade alloy">
    <figure class="alloy-panel">
    </figure>
    <h3>
        <span></span>
        <span></span>
    </h3>
    <p></p>
    <a href="#" class="btn btn-outline">Lorem ipsum dolor</a>
    <nav class="related-pages">
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
    </nav>
</div>
