<div class="blade device-choices">
    <h4>Lorem Ipsum Headline</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    <a href="#" class="btn btn-outline">Lorem ipsum dolor</a>
    <nav>
        <a href="#">
            <figure></figure>
            <span>Monitors</span>
        </a>
        <a href="#">
            <figure></figure>
            <span>Laptops</span>
        </a>
        <a href="#">
            <figure></figure>
            <span>Desktops</span>
        </a>
        <a href="#">
            <figure></figure>
            <span>2 in 1</span>
        </a>
        <a href="#">
            <figure></figure>
            <span>Tablets</span>
        </a>
    </nav>
</div>
