<div class="blade homepage-taskbar">
    <nav>
        <a href="#">
            <svg></svg>
            <span>Products</span>
        </a>
        <a href="#">
            <svg></svg>
            <span>Learn</span>
        </a>
        <a href="#">
            <svg></svg>
            <span>Support</span>
        </a>
        <a href="#">
            <svg></svg>
            <span>Specs</span>
        </a>
        <a href="#">
            <svg></svg>
            <span>Downloads</span>
        </a>
    </nav>
</div>
