<div class="blade idf-2016">
    <figure class="bk-photo"></figure>
    <h1>
        <span>IDF 2016:</span>
        <span>Brian Krzanich</span>
    </h1>
    <p>
        <span>It is a long established fact that a reader will be</span>
        <span>distracted by the readable content.</span>
    </p>
    <a href="#" class="btn btn-outline">Lorem ipsum dolor</a>
</div>
