<div class="blade homepage-taskbar">
    <nav>
        <a href="#">
            <svg></svg>
            <p>Products</p>
        </a>
        <a href="#">
            <svg></svg>
            <p>Learn</p>
        </a>
        <a href="#">
            <svg></svg>
            <p>Support</p>
        </a>
        <a href="#">
            <svg></svg>
            <p>Specs</p>
        </a>
        <a href="#">
            <svg></svg>
            <p>Downloads</p>
        </a>
    </nav>
</div>
