<div class="blade two-video-links">
    <nav>
        <a href="#">
            <h3>Lorem ipsum dolor sit amet,</h3>
            <h3>consectetur adipisicing elit, sed do</h3>
            <a href="#" class="btn btn-outline">Lorem ipsum dolor</a>
        </a>
        <a href="#">
            <h3>Lorem ipsum dolor sit amet,</h3>
            <h3>consectetur adipisicing elit, sed do</h3>
            <a href="#" class="btn btn-outline">Lorem ipsum dolor</a>
        </a>
    </nav>
</div>
