<div class="blade photo-link-bar">
    <button id="photo-link-bar-previous">
        <figure>‹</figure>
    </button>
    <nav class="links">
        <a href="javascript:void(0)">
            <figure>
                <img src="assets/imgs/lifestyle/drones.jpg">
            </figure>
            <h3>Drone Technology</h3>
        </a>
        <a href="javascript:void(0)">
            <figure>
                <img src="assets/imgs/lifestyle/devices.jpg">
            </figure>
            <h3>Device Upgrade</h3>
        </a>
        <a href="javascript:void(0)">
            <figure>
                <img src="assets/imgs/lifestyle/makers.jpg">
            </figure>
            <h3>America's Greatest Makers</h3>
        </a>
        <a href="javascript:void(0)">
            <figure>
                <img src="assets/imgs/lifestyle/IOT.jpg">
            </figure>
            <h3>Internet of Things</h3>
        </a>
        <a href="javascript:void(0)">
            <figure>
                <img src="assets/imgs/lifestyle/wearables.jpg">
            </figure>
            <h3>World of Wearables</h3>
        </a>
    </nav>
    <button id="photo-link-bar-next">
        <figure>›</figure>
    </button>
</div>
