<div class="blade photo-link-bar">
    <button id="photo-link-bar-previous">
        <figure>‹</figure>
    </button>
    <nav class="links">
        <a href="#">
            <figure>
                <img src="assets/imgs/lifestyle/drones.jpg">
            </figure>
            <p>Drone Technology</p>
        </a>
        <a href="#">
            <figure>
                <img src="assets/imgs/lifestyle/devices.jpg">
            </figure>
            <p>Device Upgrade</p>
        </a>
        <a href="#">
            <figure>
                <img src="assets/imgs/lifestyle/makers.jpg">
            </figure>
            <p>America's Greatest Makers</p>
        </a>
        <a href="#">
            <figure>
                <img src="assets/imgs/lifestyle/IOT.jpg">
            </figure>
            <p>Internet of Things</p>
        </a>
        <a href="#">
            <figure>
                <img src="assets/imgs/lifestyle/wearables.jpg">
            </figure>
            <p>World of Wearables</p>
        </a>
    </nav>
    <button id="photo-link-bar-next">
        <figure>›</figure>
    </button>
</div>
