<div class="container aidxp-homepage">
    <div class="row">
        <div class="col-xs-12">
            <blockquote><p>A screaming comes across the sky. It has happened before, but there is nothing to compare it to now.</p></blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>Agency Insiders</h1>
            <p>This is our new home for all prototypes. We'll use it for reviews, and it will help us build new blades, pages, and apps.</p>
            <p>For now it's pretty empty. Stay tuned. The journey has just begun.</p>
        </div>
    </div>
</div>
