<div class="accordian-blade">
    {{#each sections}}
        <section class="{{title}}">
            <h3>{{title}}</h3>
            <div class="revealing-info">
              {{{ text }}}
            </div>
        </section>
    {{/each}}
</div>
