<nav class="blade four-video-links">
    <a href="javascript:void(0)">
        <h3>X Games</h3>
        <figure class="x-games"></figure>
    </a>
    <a href="javascript:void(0)">
        <h3>Wearables</h3>
        <figure class="wearables"></figure>
    </a>
    <a href="javascript:void(0)">
        <h3>Virtual Reality</h3>
        <figure class="vr"></figure>
    </a>
    <a href="javascript:void(0)">
        <h3>Education</h3>
        <figure class="education"></figure>
    </a>
</nav>
