<div class="blade four-video-links">
    <nav>
        <a href="#">X Games</a>
        <a href="#">Wearables</a>
        <a href="#">Virtual Reality</a>
        <a href="#">Education</a>
    </nav>
</div>
